<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesi칩n</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <main>
     <div class="contenedorForm">
            <div class="caja-formulario active" id="formulario-login">
                <h2>Iniciar Sesi칩n como administrador</h2>
                <% if (locals.error) { %>
                    <p class="error"><%= error %></p>
                <% } %>
                <form action="/adminLogin" method="post">
                    <input type="email" name="email" placeholder="Correo Electronico" required>
                    <input type="password" name="password" placeholder="Contrase침a" required>
                    <button type="submit" name="adminLogin">Iniciar Sesi칩n</button>
                </form>
            </div>
        </div>
    </main>  
</body>
</html>